.flex{
    display: flex;
} 
.flex-direction-row{
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

